/* user-section.component.css */
.main-head{
  display: flex;
}
.container {
  padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .export-button {
    margin-right: 20px;
    border-radius: 20px;
    width: 17%;
    height: 43px;
    color: white;
    background-color: #7242FF;
    border: 1px solid #7242FF;
    display: flex;
    padding-top: 10px;
    padding-left: 17px;

  }
  
  .search-bar-container {
    display: flex;
    align-items: center;
    input{
      border-radius: 22px;
    height: 40px;
    border: 1px solid lightgray;
    }
  }
  
  .mat-form-field {
    width: 300px;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .part {
    flex: 1;
    margin-right: 10px;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .user-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .user-name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .role-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .header-border {
    width: 23%;
    height: 4px;
    background-color: #7242FF;
    color: lightgray;
    margin-bottom: 5px;
    border-radius: 3pc;
  }
  
  .role-header {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .role {
    font-size: 14px;
    color: gray;
  }
  
  .cancel-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cancel-icon mat-icon {
    font-size: 26px;
    color: lightgray;
  }
  .part-two-role{
    display: flex;
    width: 41%;
    margin-left: 20%;
  }
  .image{
    display: flex;
    margin-top: 90px;
    img{
      width: 210px;
      height: 236px;
    }
  }
  .final-graph{
    .first-img{
      margin-top: 120px;
    }
    .sec-img{
      width: 100%;
    margin-top: 60px;
    }
  }
  