<!-- user-section.component.html -->
<div class="main-head">
  <div class="container">
    <div class="header">
      <button mat-button class="export-button">
        <mat-icon>file_download</mat-icon>
       <p> Export</p>
      </button>
      <div class="search-bar-container">
        <mat-form-field appearance="outline">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput placeholder="Search">
        </mat-form-field>
      </div>
    </div>
  <div>
    <div class="content">
      <div class="part user-info">
        <img src="assets/images/user-big.svg" alt="User Photo" class="user-photo">
        <div class="user-name">John Doe</div>
      </div>
      <div class="part role-info">
        <div class="header-border"></div>
        <div class="role-header">Role</div>
        <div class="role">Admin</div>
      </div>
      <div class="part role-info">
        <div class="header-border"></div>
        <div class="role-header">Role</div>
        <div class="role">User</div>
      </div>
      <div class="part role-info">
        <div class="header-border"></div>
        <div class="role-header">Role</div>
        <div class="role">Manager</div>
      </div>
      <div class="part cancel-icon">
        <mat-icon>cancel</mat-icon>
      </div>
    </div>
   <div class="part-two-role">
    <div class="part role-info">
      <div class="header-border"></div>
      <div class="role-header">Role</div>
      <div class="role">User</div>
    </div>
    <div class="part role-info">
      <div class="header-border"></div>
      <div class="role-header">Role</div>
      <div class="role">Manager</div>
    </div>
   </div>
  </div>
  <div>
    <div class="image">
      <img src="../../assets/images/pie chart2.png" alt="">
      <img src="../../assets/images/pie chart2.png" alt="">
      <img src="../../assets/images/pie-chart3.png" alt="">
    </div>
  </div>
  <div>
    <img src="../../assets/images/line graph.png" alt="">
  </div>
  </div>
  <div class="final-graph">
    <img class="first-img" src="../../assets/images/bar graph.png" alt="">
    <img class="sec-img" src="../../assets/images/circle graph.jfif" alt="">
  </div>
</div>
  